{% from "fanout.j2" import run_fanout %}
{% from "triggered_action_execution.j2" import run_inits %}
{% macro binding_hole_fanout_methods(binding_hole_fanouts) %}
    {% for binding_hole_fanout in binding_hole_fanouts %}

    def {{ binding_hole_fanout.binding_hole_method_name }}(self):
        {% if binding_hole_fanout.requires_join_check %}
        if not self.{{ binding_hole_fanout.join_member_name }}.arrive():
            return
        {% endif %}
        {% if binding_hole_fanout.continuation_method_name is not none %}
{{ run_inits(binding_hole_fanout.inits) }}
        self.{{ binding_hole_fanout.continuation_method_name }}()
        {% else %}
{{ run_inits(binding_hole_fanout.inits) -}}
{{ run_fanout(binding_hole_fanout.fanout_continuation_method_names, "self", "self.scheduler") -}}
        {% endif %}
        {% if binding_hole_fanout.continuation_method_name is not none %}

    def {{ binding_hole_fanout.separate_init_method_name }}(self):
{{ run_inits(binding_hole_fanout.inits) -}}
        {% endif %}
        {% if binding_hole_fanout.continuation_method_name is not none %}

    def {{ binding_hole_fanout.continuation_method_name }}(self):
{{ run_fanout(binding_hole_fanout.fanout_continuation_method_names, "self", "self.scheduler") -}}
        {% endif %}
    {% endfor %}
{% endmacro %}
