{% from "file_header.j2" import file_header %}
{{ file_header(definition, needs_final=false, needs_override=false) }}

class {{ definition.class_name }}(literal.GlobalPosition):
{% if definition.constraints %}
    constraints: ClassVar[tuple[type[literal.Quality], ...]] = (
    {% for class_reference in definition.constraints %}
        {{ class_reference.module_name }}.{{ class_reference.class_name }},
    {% endfor %}
    )
{% endif %}
{% if definition.implied_qualities %}
    implied_qualities: ClassVar[tuple[type[literal.Quality], ...]] = (
    {% for class_reference in definition.implied_qualities %}
        {{ class_reference.module_name }}.{{ class_reference.class_name }},
    {% endfor %}
    )
{% endif %}
{% if not definition.constraints and not definition.implied_qualities %}
    pass
{% endif %}
